[2022-08-29 07:42] steven-tey opened #1 "Wrap functions in try catch + return 500 error when fail"

[2022-09-22 15:39] Soft-Bred opened #7 "Bug Allowing for Spaces in URLS"
The url bar allows you to insert any character including spaces which doesn't work in just redirect to the main page.

<img width="477" alt="No 004838@2x" src="https://user-images.githubusercontent.com/60551230/191791136-98a31632-c53b-49cb-bae5-8f2da5c8bc27.png">

[2022-09-22 15:41] Soft-Bred opened #8 "Bug allowing emoji is in the URL Bar though they do not work when clicked"
![No 004839@2x](https://user-images.githubusercontent.com/60551230/191791645-924da711-270f-4d19-a21c-41028f4e9d07.png)

when accessing https://dub.sh/🍞, it just takes you to the homepage

[2022-09-22 16:08] MatthewStanciu opened #9 "z-index visual bug in stats component"
<img width="927" alt="Screen Shot 2022-09-22 at 12 06 21 PM" src="https://user-images.githubusercontent.com/14811170/191797290-ec2e44b1-ccbf-4731-9b65-2797be0b203a.png">

![IMG_163532364CC3-1](https://user-images.githubusercontent.com/14811170/191797454-38bee1ce-5f96-4e57-9fc7-73aa0527e221.jpeg)

When I view the stats page with the console open or on my phone, the countries display on top of the h

[2022-09-22 16:31] MatthewStanciu commented on #9
Had to step away from my computer but I’ll open a PR to fix when I’m back if no one else tackles it by then!

[2022-09-22 17:32] stashymane opened #11 "dub.sh home page globe spikes GPU to 100%"
![image](https://user-images.githubusercontent.com/4071883/191813323-31b28f84-9821-43ad-9917-230e5414b123.png)

The globe's canvas is set to 2000x2000 size regardless of my screen res (1080p), I don't think that's necessary.
Also perhaps a bit of optimization.

[2022-09-22 19:17] steven-tey commented on #11
Looking into this, it looks like it could be related to the globe animation 🤔

Related comment: https://github.com/shuding/cobe/issues/39#issuecomment-1228296175

[2022-09-22 19:43] ThatOneCalculator opened #12 "Self host instructions"
There should be instructions on how to self-host Dub.

[2022-09-22 19:54] ThatOneCalculator commented on #12
@steven-tey your lack of instructions leads to a lot of confusion, especially since you didn't even fill out the entire .env.production for self hosting. `UPSTASH_REDIS_REST_URL` isn't in the example env, nor did you explain that it's needed or even what it's for.

[code]

[2022-09-22 20:07] steven-tey commented on #11
This should be fixed by https://github.com/steven-tey/dub/pull/13 👍

[2022-09-22 20:08] steven-tey commented on #12
Sorry about that, I ran out of time to write the self-host instructions – I'm going to tackle that tonight! Thanks for the message! :)

[2022-09-23 00:46] chris-pikul commented on #11
Just experienced this on Win11 & Chrome 105.0.5195.127 going to the domain, has this fix been pushed publicly?

Tab loads, then slows to a crawl, then stops all together. Locks up my browser, attempting to close the tab requires patience before Chrome nukes it and then systems back to operating fine.

[2022-09-23 03:24] xPolar opened #15 "Error serializing `.stars` returned from `getStaticProps` in "/"."
Getting this error after trying to deploy to Vercel.
[code]

[2022-09-23 03:35] AnnleeFores commented on #11
Despite a slight improvement in performance, the website still lags.

Using Chrome 105.0.5195.127 and Firefox 105.0 on Windows 11. (64-bit)

[2022-09-23 04:16] steven-tey commented on #15
Whoops, this is a silly mistake on my end (I should've accounted for the case where you don't have the `GITHUB_OAUTH_TOKEN` env var set. Feel free to set `stars` to 0 or something!

This PR should fix it: https://github.com/steven-tey/dub/pull/16

Also added some self-hosted setup instructions in the `.env.example` file (it's not perfect yet but it's a start)

[2022-09-23 04:16] #15 closed

[2022-09-23 04:17] steven-tey commented on #12
Started working on this in this PR: https://github.com/steven-tey/dub/pull/16

Added some self-hosted setup instructions in the `.env.example` file + included the required env vars in the Vercel deploy button (it's not perfect yet but it's a start)

[2022-09-23 04:40] ThatOneCalculator commented on #12
It's still a bit confusing though with the redis upstart URL and the Vercel token -- is there (going to be) a way to host this *without* relying on cloud providers like vercel? I just wanna stick this on my homelab and not worry about another provider.

[2022-09-23 04:40] ThatOneCalculator commented on #12
It's still a bit confusing though with the redis upstart URL and the Vercel token -- is there (going to be) a way to host this *without* relying on cloud providers like vercel? I just wanna stick this on my homelab and not worry about another provider.

[2022-09-23 08:12] stashymane commented on #11
GPU is no longer at 90%, it's at 60% 😬
For context, games like CS:GO run my GPU at 40% :)

[2022-09-23 09:05] camerondrysdale opened #19 "How are you doing the redirecting to a subdomain for certain routes"
Pretty new to Next.js and been looking through the source code but couldn't figure this one out.

How are you making certain routes such as `/login` redirect to use `app.domain.com/login`?

Thanks :)

Awesome job on the app btw! 👌

[2022-09-23 09:12] ImBIOS opened #20 "Why there are 2 lock files?"
This repo has `package-lock.json` and `yarn.lock`,
we recommend you have only one, and I recommend using `yarn.lock` and removing `package-lock.json`.

But I don't know if there is any reason behind it.

[2022-09-23 11:59] BitesizedLion commented on #11
It no longer kills my browser entirely, but still has higher usage than what a homepage should (imo)

[2022-09-23 12:54] dandanio opened #22 "Feature Request: Link Inspection/Preview with `?` or `+`"
So, there is no way to inspect a link. For example: https://dub.sh/jK5Bb6x, I would like to be able to do: https://dub.sh/?jK5Bb6x (or something similar) to inspect where it leads me. Let's end the rickrolling everybody!

[2022-09-23 13:59] steven-tey commented on #22
Great idea! Will add this to the roadmap! :)

[2022-09-23 14:03] steven-tey commented on #19
Good question – I'm basically adding it into my Dub.sh account:

![CleanShot 2022-09-23 at 09 02 15](https://user-images.githubusercontent.com/28986134/191978458-38db469c-3f3c-441a-8a64-0d5bff7d1163.png)

You can do the same by signing up at https://dub.sh/register and then going to https://app.dub.sh/links to start adding `dub.sh` domains :)

[2022-09-23 14:03] #19 closed

[2022-09-23 14:06] steven-tey commented on #11
@chris-pikul @AnnleeFores @stashymane @BitesizedLion Okay y'all, I just pushed this commit that should optimize the globe for different device GPU cores: https://github.com/steven-tey/dub/commit/9518ca1b0a44554ca10b30018eb76d8880d3254a

Can you check and let me know if it's still blowing up your GPUs?

If it is, can you go into Chrome console and enter `navigator.hardwareConcurrency` and tell me w

[2022-09-23 14:06] camerondrysdale commented on #19
Sorry what I meant was more how is the subdomain added for the app directory... is this a Vercel thing?

[2022-09-23 14:14] BitesizedLion commented on #11
Uses 30-35% on chrome
Uses 60% on firefox

![image](https://user-images.githubusercontent.com/42980888/191979826-3f0f9327-b5b3-44d3-897a-aaa23eb842e7.png)

[2022-09-23 14:18] BitesizedLion commented on #11
Also isn't `navigator.hardwareConcurrency` for CPU?

[2022-09-23 14:49] AnnleeFores commented on #11
![image](https://user-images.githubusercontent.com/10363107/191987220-4146b8b0-43da-4e6d-ba10-75db20883bde.png)

[2022-09-23 15:01] ovizii commented on #12
Maybe someone could even package all of that into a docker image?

[2022-09-23 15:35] BhautikChudasama opened #25 "Is that any way to self host using docker?"
Is that any way (or future) plan for hosting using docker?

[2022-09-23 15:39] georgejipa commented on #11
Tested on two PCs, both on Windows 11 Pro (64bit).

[code]
[code]

Almost the same behavior. As expected, the website is much more usable on the second PC.

[2022-09-23 23:44] steven-tey opened #27 "Deeplink Functionality"
Credits to @mcnaveen for the [brilliant idea](https://twitter.com/the_mcnaveen/status/1573177085862248448)

[2022-09-24 01:22] dandanio commented on #22
Awesome! :)

@steven-tey Suggestion: Maybe for UX (I spoke with my UX researcher friend), instead of prefix (!/?/+), do the suffix (for ease of typing - workflow being: copy - paste, arrow right, (sign !/?/+), [enter] - new page loads with wording like (https://dub.sh/jK5Bb6x redirects to https://www.cnn.com/, another link on the page for a link to VirusTotal (https://www.virustotal.com/gui/home/u

[2022-09-24 01:30] dandanio opened #28 "Create a short link from the currently open page"
It would be a life saver if I could click a bookmark link in my bookmark bar and get a short link, like this:
Link:

javascript:void(location.href='https://dub.sh/?longurl=%27+location.href);

or some such. And then I can paste it in slack, Messages, Twitter, etc. Quick and easy.

[2022-09-24 05:17] steven-tey commented on #28
Oooh interesting! You mean like a Chrome Extension?

[2022-09-24 05:46] steven-tey commented on #8
Thanks for the bug report! This should've been fixed with https://github.com/steven-tey/dub/pull/29

[2022-09-24 05:46] #8 closed

[2022-09-24 05:46] steven-tey commented on #7
Thanks for the bug report! This should've been fixed with https://github.com/steven-tey/dub/pull/29

[2022-09-24 05:46] #7 closed

[2022-09-24 09:24] niv-dev opened #30 "Add ShareX Support with Custom Links"
Sorry if this is already possible, but this would genuinely be so helpful

[2022-09-24 12:13] turtleship69 commented on #28
I think this could be added as a bookmarklet, people copy the js and bookmark it or drag the link into the bookmark bar.

This could either pass the URL to shorten as an argument in the dub.sh link like above or give an alert, both of which would require server changes.

I could try to work on updating the main page to add these links if the server gets updated if needed?

[2022-09-24 12:30] dandanio commented on #28
I think it is called a bookmarklet. It is a bookmark that is a JavaScript code. It creates a short link from the currently displayed page. The original wording was (courtesy of archive.org):

Quick Short URL in the toolbar

Drag this link: (JavaScript link) to your browser toolbar. From now on, to generate a short URL from the page currently viewed in the browser, just click the link in the toolba

[2022-09-24 12:31] dandanio commented on #28
I don't think there is a need for a full blown extension, unless you add some other functionality that is unique and nesesitates an extension.

[2022-09-24 15:40] Soft-Bred opened #31 "Deleting existing invalid links doesn't work"
Trying to delete a link with unsupported characters doesn't work

link: `dub.sh/     ` (5 spaces)

https://user-images.githubusercontent.com/60551230/192106618-43cadba5-fe6d-41bb-8110-9a1c98718c31.mp4

[2022-09-24 18:07] Gladson-Lalu commented on #11
I am still facing the same. Here is a SS
![Screenshot (454)](https://user-images.githubusercontent.com/60311559/192112462-f5ff5094-77ce-492e-8583-2e38c9eefd80.png)

[2022-09-25 03:26] steven-tey commented on #31
oh yeah that's a bug – I can delete it manually for you on Monday (AFK this weekend) since that won't ever happen again in the future with proper link validation!

[2022-09-25 03:26] steven-tey commented on #30
What do you mean by ShareX support?

[2022-09-25 05:21] oHTGo opened #32 "Add prefix to table name"
I have a shared database for many services. I hope there will be an option prefix for table name.

[2022-09-25 08:54] harel-tussi opened #33 "Design - spacing inconsistency in mobile"
![Screen Shot 2022-09-25 at 11 53 17](https://user-images.githubusercontent.com/14964625/192135698-2ffbee94-bbf3-4774-a9ec-8025d9fe2ada.png)

I would be happy to fix that

[2022-09-25 10:58] harel-tussi opened #34 "Create password-protected links"
It would be nice if there was an option to password-protect my link.
As soon as the user clicks on the link, he is redirected to a page where he is asked to enter a password.
Once he confirms the password, he is redirected to the original link.

[2022-09-25 11:18] CaedenPH opened #35 "Laggy website"
The website `dub.sh` is extremely slow and sluggish, I can't scroll well at all and it gives a really unresponsive design. I have tested this on multiple devices and should probably get fixed, whether that means moving to a faster framework such as qwik or not

[2022-09-25 11:40] harel-tussi commented on #35
This problem seems to be related to #11

[2022-09-25 11:46] CaedenPH commented on #35
Yeah, thought so - couldn't find it

[2022-09-25 11:46] #35 closed

[2022-09-25 16:55] bennetfabian opened #36 "GDPR compliance"
It seems like this project has a custom stats solution.
Is it GDPR compliant by default and if not could it potentially be made compliant?

Also I would suggest adding information about GDPR compliance in the README and/or on [dub.sh](https://dub.sh).

[2022-09-26 01:28] steven-tey commented on #34
Oooooh love this idea! It's definitely doable given the current setup – will try and knock this one out this week! 😄

[2022-09-26 01:42] steven-tey commented on #31
Went ahead and deleted all the links with unsupported characters for ya! Thanks again for the bug report! :)

[2022-09-26 01:42] #31 closed

[2022-09-26 01:44] steven-tey commented on #20
Good point! Just did that, thank you! :)

[2022-09-26 01:44] #20 closed

[2022-09-26 01:47] steven-tey commented on #25
Seems like a lot of folks are interested in this: https://github.com/steven-tey/dub/issues/12

To be completely honest I'm not very familiar with docker – if someone can PR this option into a branch (i.e. `docker`) I'm more than happy to feature it in the README as one of the self-hosted options :)

[2022-09-26 01:48] steven-tey commented on #12
Crossposting over from https://github.com/steven-tey/dub/issues/25:

[2022-09-26 02:57] BhautikChudasama commented on #25
Can you specify environment variables needed to run / What services must run in order to run dub.sh?

[2022-09-26 03:05] BhautikChudasama commented on #25
Got it from .env.example.

[2022-09-26 03:08] harel-tussi commented on #34
I would be happy to help.
Maybe develop the enter-password page?

[2022-09-26 03:12] niv-dev commented on #30
ShareX is a utility that mainly allows for you to share screenshots, but it also has other tools such as a fast url shortener and others. In the URL shortener list, there is support for custom urls, i was asking whether this could be implemented by dub

[2022-09-26 06:03] roman-koshchei commented on #11
Each time I visit the home page I delete the globe canvas. It helps a lot. I think the globe isn't necessary. Maybe make it optional to see?

[2022-09-26 07:14] lohrm-stabl opened #38 "OIDC/SAML support"
Can we use OIDC or SAML to connect our company's IAM directory to dub?

[2022-09-26 09:24] #32 closed

[2022-09-26 14:10] b4s36t4 commented on #28
We can create a extension with features like searching for the url directly in the search bar or some other features included. Happy to assist and help in building.

[2022-09-26 15:00] steven-tey commented on #11
Hey everyone! I just pushed [this PR](https://github.com/steven-tey/dub/pull/39) that adds a fallback video for devices that don't support WebGL – let me know if this helps!

[2022-09-26 15:00] steven-tey commented on #35
Hey @CaedenPH! I just pushed [this PR](https://github.com/steven-tey/dub/pull/39) that adds a fallback video for devices that don't have proper support for WebGL – let me know if this helps!

[2022-09-26 15:47] harel-tussi commented on #34
I would be happy to assist. Trying to create my first PR 😁

[2022-09-26 23:02] SaiyaDev commented on #11
Hey, still same issue for me, my GPU runs at 5-10% usually when I open dub.sh it spikes up to 60%+ when I have the tab opened

[2022-09-26 23:55] ruanbekker commented on #25
Im busy with adding a self-host option with docker in a wip branch:
- https://github.com/ruanbekker/dub/tree/docker

[code]

Then access in port 3000:

<img width="1015" alt="image" src="https://user-images.githubusercontent.com/567298/192400685-49f6a7ea-ecca-4cf0-82f2-798833a1e754.png">

Atm getting a error:

[code]

This might perhaps be due to the use of Upstash. Will look into it tomorrow agai

[2022-09-27 01:01] steven-tey commented on #38
Not currently, no, but I'm planning to add SSO/SAML support in the next couple of weeks! What kind of data are we talking about here? Feel free to email me steven@dub.sh! :)

[2022-09-27 01:03] steven-tey commented on #36
Very good point! I ran out of time to set up proper docs on this (e.g. README section, `/privacy`, `/terms`) but AFAIK all the data that is collected on Dub are not personally-identifiable information (PII) so we should be good. All I need to do is document this – I've set a TODO to tackle this next week! :)

[2022-09-27 01:05] steven-tey commented on #33
Hey, sure! Feel free to PR! TBH mobile view is a bit wonky at certain parts (refer #9) so it definitely needs work! :)

[2022-09-27 06:01] surjithctly opened #41 "Redirection for the root domain"
Hey Steven,

I'm switching from another provider and it seems I cannot give a redirect to the root domain I added. Currently it redirects to dub page. I wanted to redirect to another website. Is it possible?

I tried with blank & / but didn't work.

[2022-09-27 10:49] theabhayprajapati opened #42 "Black background on the record when we hover bar graph."
<img width="298" alt="image" src="https://user-images.githubusercontent.com/88815641/192505833-957c8ddc-553d-4641-9d98-6a8b4fd9e727.png">

The black background and dark grey colour make it difficult to see the records.

## Steps to reproduce.
1. Open any of your shorten links created with dub.sh.
2. Open analytics for that link.
3. Hover over the bar graph.

[2022-09-27 16:14] deepakprabhakara commented on #38
@steven-tey We have an npm module for SAML SSO if you want to avoid rolling out your own implementation - https://www.npmjs.com/package/@boxyhq/saml-jackson. Great project, congrats!

[2022-09-27 22:24] steven-tey commented on #42
Ahh yes, that's the one piece of dark mode that I missed when I removed dark mode from the application (had to do it because I didn't have enough time to implement it). If you toggle your system mode to light you should see the tooltip go back to white background.

I've put a note and will get this fixed by tonight!

[2022-09-27 22:25] steven-tey commented on #41
Hey @surjithctly! Thanks for the question! And yup – folks have asked about this before, I'll be implementing it ASAP 💪

[2022-09-27 23:10] rwlc commented on #34
Password protected links would need to be handled client-side, right?

[2022-09-28 00:26] steven-tey commented on #42
This has been fixed!

https://github.com/steven-tey/dub/pull/44

[2022-09-28 00:26] #42 closed

[2022-09-28 02:36] theabhayprajapati commented on #42
yeah it's fixed now thanks ![Screenshot_20220928-080510_Chrome.jpg](https://user-images.githubusercontent.com/88815641/192674718-45c32eb4-3fca-41a6-9ec7-ee3f35f682e0.jpg)

[2022-09-28 03:53] arty4999 opened #45 "Issues with short linking twitter profiles/tweets"
Good day to you all here,

There seems to be an issue when linking to twitter, it produces a "**Too Many Redirects**" error when using the non-self-hosted version of Dub.

My "setup" is using a custom domain which uses Cloudflare for DNS/protection

Thing's I've tried:

- Disable caching in Cloudflare - didn't work
- Disabling Cloudflare completely - didn't work
- Change domains in Dub - didn't wo

[2022-09-28 03:57] steven-tey commented on #41
👀 https://github.com/steven-tey/dub/pull/46

[2022-09-28 04:02] steven-tey commented on #45
Hey @arty4999! Thanks for the bug report! To confirm – you're referring to the hosted version of Dub right (https://app.dub.sh)?

If so, which domain are you trying to add? Feel free to send me an email at steven@dub.sh if you prefer to let me know in private! :)

[2022-09-28 04:03] steven-tey commented on #41
It's merged! 🥳

[2022-09-28 04:03] #41 closed

[2022-09-28 04:12] steven-tey commented on #34
No – we'll handle it with Middleware! Here's a simple example of how that would work: https://vercel.com/templates/next.js/basic-auth-password

In the case of Dub I'll probably add some custom UI to make the login page look pretty :)

[2022-09-28 04:18] surjithctly commented on #41
That was fast. Thank you.

[2022-09-28 04:23] arty4999 commented on #45
hello @steven-tey,

I'm indeed referring to the hosted version of Dub. The domain added is "breadcat.cf"

Although, it has started working now for some reason, I've not changed anything at all on DNS or website sides, but it works now. This could be a one-off issue.

[2022-09-28 04:38] rwlc commented on #34
OH DAMN! I should have known about this. This is near I can't lie.

[2022-09-28 15:40] #45 closed

[2022-09-28 16:03] simbafs opened #48 "Toggle button for link"
A toggle button, so you can temporally close the link

[2022-09-28 19:33] steven-tey commented on #48
I'm not quite sure what you mean, can you elaborate? By "closing the link" do you mean temporarily deactivate it?

[2022-09-29 04:46] Snazzah commented on #12
I've tried out trying to get this to be self-hostable and ended up making a modified fork of it. Since this is mainly reliant Vercel Edge Functions and Upstash Redis, most of the work was just replacing that stuff and getting the rest to work in Docker.

You can try and see if this works out for you: https://github.com/Snazzah/stub

[2022-09-29 14:35] steven-tey commented on #38
@deepakprabhakara – I'm actually already looking to integrate Boxy (hat-tip to @peerrich for the recommendation)! 😄

Thanks for sending that over!!

[2022-09-29 15:10] simbafs commented on #48
Yes, sorry I didn't express it clearly

[2022-09-30 02:30] steven-tey commented on #33
Thank you again for the PR! :)

https://github.com/steven-tey/dub/pull/43

[2022-09-30 02:30] #33 closed

[2022-10-01 02:11] steven-tey commented on #9
Fixed with #50! 😌

[2022-10-01 02:13] #9 closed

[2022-10-01 09:46] developedbytoby opened #52 "Popup box disappear when you interact with it"
Every time I interact with the project creation and popup, it disappears. (Below is a screen recording of what's happening). The browser I'm using is Arc, however I also run into the same problem using Safari. Please let me know if you want anymore information, and I'd be happy to help! :D

https://user-images.githubusercontent.com/77097223/193403190-f5dd89a1-5e8f-472e-b81b-4c617b65f34d.mov

[2022-10-01 09:49] developedbytoby commented on #52
Ah! Just noticed, PR #51 fixes issue.

[2022-10-01 17:21] steven-tey commented on #52
Ahh yes I was a dumbass and added `onClick={() => closeModal()}` to the modal itself (and not the backdrop)! Just removed that erroneous line so it should work now! Sorry for the inconvenience!

[2022-10-01 17:21] #52 closed

[2022-10-01 17:59] developedbytoby commented on #52
It's working! :D

[2022-10-01 19:48] steven-tey commented on #52
Yay!! Thanks again for the bug report!

[2022-10-01 19:48] steven-tey commented on #42
Woohoo! Thanks again for the bug report!

[2022-10-01 19:51] steven-tey commented on #12
Stub is really amazing @Snazzah, great work! 😄

I'm planning to add a directory that has a simpler version of Dub (removing all unnecessary modules like Stripe, Plausible, etc.) and include proper self-host instructions on here soon!

Sorry again for the delay y'all! Got swamped with a ton of bug fixes this week 😅

[2022-10-01 20:38] developedbytoby commented on #52
No worries, glad to have helped! :)

[2022-10-01 21:28] steven-tey commented on #19
oh, that's because I'm using middleware + I only defined the `/login` page in the `/app` directory: https://github.com/steven-tey/dub/tree/main/pages/app

[2022-10-02 01:49] itsmingjie commented on #28
Interested in picking this up when I get time next :D (maybe in a week, we'll see). Seems like it'll be fun to work on.

[2022-10-02 08:15] max-programming opened #56 "Dark mode feature"
This project is super cool, and I started using it instead of bitly. Honestly, it's faster and has better UX!

It would be great if it has a dark mode feature and a toggle for that.

I would be happy to take that challenge to implement the dark mode feature

[2022-10-02 12:53] rwlc opened #57 "padding and cursor issues on modals and tooltips"
I feel like the text saying "dub.sh/github" could maybe use some margin/padding? It looks extremely weird, and kind of makes the whole spacing uneven.

![image](https://user-images.githubusercontent.com/83243777/193454737-0411c030-95a9-42ac-9e02-b4dc5ba93be0.png)

Furthermore, @steven-tey, on tooltips -- what do you think about making the cursor change to `pointer` on hover? From what I can see, m

[2022-10-02 13:41] theabhayprajapati opened #58 "Greetings Never Received"
<img width="960" alt="image" src="https://user-images.githubusercontent.com/88815641/193456526-7d6557ad-abf0-4ad8-85e0-99e54be5ec7d.png">

hey @steven-tey I was setting **dub** on my local machine everything worked fine but this isn't whenever I try to Sign Up it gives me this error.
can you please help me with this?

[2022-10-02 14:21] theabhayprajapati commented on #58
Got Fixed Now I can Start Contributing to this project 🥳.

![image](https://user-images.githubusercontent.com/88815641/193458983-db5dc9a3-a3d8-4d2e-9bc1-b639ae362081.png)

I tried destructing the values for the email server as it was shown on the [next-auth page](https://next-auth.js.org/providers/email#configuration).

[2022-10-02 14:21] #58 closed

[2022-10-02 22:50] steven-tey commented on #56
Yes! This would be AMAZING! I actually worked on this but decided to rip it out before launch because I was running low on time and it wasn't the top priority...happy to collaborate on the PR! :)

[2022-10-02 22:52] steven-tey commented on #57
Oh my, this is what happens when you merge your own PRs w/o getting a 2nd pair of eyes to review it 🤣

Entirely my bad, gonna whip up a quick fix for this now!

Love the idea for having the cursor change to `pointer` on hover! Would love to give you code credits so I'll wait for your PR and merge it! :)

[2022-10-02 23:10] steven-tey commented on #57
The padding issue should be fixed with https://github.com/steven-tey/dub/commit/bfc21a1212e7c7b51ef2cf33fbc1064ad18a1b3a

[2022-10-02 23:19] steven-tey commented on #58
Sorry about the error 😅 glad you were able to figure it out! Feel free to make a PR to add comments/improvements so that folks don't run into a similar issue in the future!

[2022-10-03 05:25] max-programming commented on #56
@steven-tey  Cool! Assign it to me!

[2022-10-03 07:48] rwlc commented on #57
Sure, yeah! I'll code it up as soon as I can. I'll mostly get free in the evening!

[2022-10-03 14:55] steven-tey commented on #57
Thank you! Take your time! :)

[2022-10-03 23:07] #57 closed

[2022-10-04 16:54] ferminrp opened #60 "Feature Request: Traffic by source"
It would be great to understand where a link is being used.

I think [simpleanalytics](https://simpleanalytics.com/simpleanalytics.com) is a good benchmark on how to show this.

![image](https://user-images.githubusercontent.com/21282919/193880070-7d92c1ec-f394-459d-b36c-87ce6c716cb7.png)

[2022-10-04 16:57] steven-tey commented on #60
Great idea! I'm [already tracking the `referer` stats](https://github.com/steven-tey/dub/blob/bfc21a1212e7c7b51ef2cf33fbc1064ad18a1b3a/lib/upstash.ts#L96), just need to find a way to display that on the stats page! Will keep you posted on this! :)

[2022-10-05 03:42] steven-tey commented on #11
This issue has been largely resolved so I'm going to close this for now!

Apologies again for the performance issues 🙏

[2022-10-05 03:42] #11 closed

[2022-10-05 16:34] theabhayprajapati opened #64 "Unable to store user session while development."
Hello, I did the local setup and while testing it locally I noticed that I was not able to store the user session

# What actually occurred?
1. I get a magic link like this when I sign up or log in.
2. Once I get it, I click on it and it redirects me to localhost:3000 where I can access the dashboard.
3. When I click on it, it takes me to **app.dub.sh** 🤔
4. I am again prompted to log in / sign in

[2022-10-08 05:42] PerchunPak commented on #30
Much easier and better would be to implement a Public API, and then someone will implement an abstraction in ShareX.

Although, developers here can't implement support in ShareX because you need to make it yourself in this tab:
![image](https://user-images.githubusercontent.com/68118654/194690932-64a78b87-a2a0-4259-9faa-1342647e7776.png)

Plus, it is impossible without a Public API.

[2022-10-08 07:23] itsmingjie commented on #64
+1. Current workaround is copying the `next-auth.session-token` manually from `app.locahost` to `localhost:3000`. Seems like localhost does not allow cross site cookies

[2022-10-08 10:50] chavda-bhavik commented on #48
Hey, @steven-tey I would like to work on this If it's still relevant.

[2022-10-10 02:15] steven-tey commented on #64
Ahh yes, I should've been more clear about this in the setup instructions – I did write a note [here](https://github.com/steven-tey/dub/blob/main/pages/api/auth/%5B...nextauth%5D.tsx#L32) but it can be a bit confusing setting this up locally!

Will improve this very soon but adding better contributing/self-hosting instructions

[2022-10-10 13:33] khaosdoctor opened #73 "[Feature] API support"
One of the most useful things I'd find to have in Dub would be the possibility to CRUD links using an API, this way we could automate the creation using tools like Notion and others.

From my perspective, and I'm willing to implement it, is to have a settings page to create an API key that can be used to control the link managing.

Any thoughts about it?

[2022-10-10 16:18] steven-tey commented on #25
Just wanted to follow up and say that I haven't forgotten about this issue yet – it's top on my TODO list for this week! Sorry again for the delay 😅

[2022-10-10 16:18] steven-tey commented on #30
Good idea! I'm planning to work on a public API for Dub soon – will update y'all when that's in the works!

[2022-10-10 16:21] steven-tey commented on #73
Oh I love that! So to summarize, here's the user experience:
- User creates an account on Dub via https://app.dub.sh/register
- User gets their API key from https://app.dub.sh/settings
- User makes requests to the Dub API to create/edit dub.sh links via a third party app

Do we want this to be for dub.sh short links only or for custom domains as well?

Related issue: #30

[2022-10-10 19:29] walidcherhane opened #75 "[Feature]: QR code for each link"
I don't know why I thought about this but the ability to have like a QR code for each link will help somehow
also, happy to contribute in this if you like idea :D

[2022-10-10 19:31] steven-tey commented on #75
Thanks for the feature request! @Snazzah is working on this already at https://github.com/steven-tey/dub/pull/68 :)

[2022-10-10 19:34] #75 closed

[2022-10-10 19:57] khaosdoctor commented on #73
I'd really want to be for all domains, since, in my case, I use dub with my custom domain, so having the possibility to streamline, for example, my newsletter link sharing (which is saved in notion) to automatically shorten the links with dub, then update the newsletter with them would be -> AWESOME <-

The feature itself is not that hard to implement, backend-wise, I'll do my best on the frontend

[2022-10-10 19:58] khaosdoctor commented on #48
Building on top of this, a "timer" functionality would be nice, to keep the link active for an X amount of time, since Redis is the base database, we could set TTLs on the links for that (just a guess as I haven't yet looked at the code)

[2022-10-11 03:59] steven-tey commented on #48
@khaosdoctor unfortunately that wouldn't work with the [current setup](https://github.com/steven-tey/dub#implementation) since we're using a hash to store links per custom domain.

I am thinking of switching to a more key-value based model though (and move the user-link relation to MySQL, right now we're using Redis sorted sets for that) so we could explore leveraging TTL very soon!

[2022-10-14 14:37] steven-tey commented on #48
@khaosdoctor planning to switch over to a key-value-based model (with TTL) this weekend! Will keep all of y'all posted 😄

Here's the PR if you wanna follow along: https://github.com/steven-tey/dub/pull/78

[2022-10-15 22:03] #60 closed

[2022-10-16 01:58] steven-tey opened #80 "BlurImage is too big + reduce screen real estate for link cards"
h/t to @smonolo for the feedback!

[2022-10-17 06:19] bolavefasfas opened #81 "Selfhosting Video Link"
Need  a video guide For selfhosting

[2022-10-17 13:31] steven-tey commented on #81
Related to #12 and #25 – will add a Loom guide as well, thanks for the suggestion!

[2022-10-17 13:34] steven-tey opened #82 "Deleting a project with the same apex domain as another project invalidates the domain for that project"
Need to account for deleting subdomains and not remove the apex domain if it is present on a different project.

h/t to @aviramroi for the bug report! 😄

[2022-10-19 01:46] bolavefasfas commented on #81
Thanks

[2022-10-19 01:46] #81 closed

[2022-10-20 13:20] steven-tey commented on #80
Rolling this out in #78!

![CleanShot 2022-10-20 at 08 20 22](https://user-images.githubusercontent.com/28986134/196959972-c9add687-e5d0-4134-a8d7-859287e1fc5a.png)

[2022-10-20 18:28] smonolo commented on #80
@steven-tey this looks sick! awesome work

[2022-10-20 18:29] steven-tey commented on #80
@smonolo thanks man!! still running a few tests but should be able to merge this by today/tomorrow! 🤞

BTW does the blur image never resolve? Does it always stay blurred for you?

[2022-10-20 18:32] steven-tey commented on #48
Sneak peek of the new UI 👀 🙈

![CleanShot 2022-10-20 at 13 32 29](https://user-images.githubusercontent.com/28986134/197029781-b3d6465f-54eb-4ad9-81a1-8b2b3af18cda.png)

[2022-10-20 18:37] steven-tey commented on #80
oh interesting, thanks for letting me know! will investigate this a bit more! :)

[2022-10-23 02:19] steven-tey commented on #80
This should be fixed with #78 🥳

[2022-10-23 02:19] #80 closed

[2022-10-23 04:40] steven-tey commented on #34
Password protected links is now live, thanks to #78 🥳

https://user-images.githubusercontent.com/28986134/197374120-3b1d216b-631e-46d0-adf1-2ad487a0cca7.mp4

Feel free to try it out and let me know if there are any bugs 👀

[2022-10-23 15:46] steven-tey commented on #48
Hey guys! This feature is now live (under "Advanced options" > "Expiration Date")

Feel free to try it out and let me know if there are any bugs 😄

https://user-images.githubusercontent.com/28986134/197401844-4fd6fc30-e8b6-45eb-9b9f-3941e9452165.mp4

[2022-10-23 18:54] max-programming opened #84 "Stats page is `undefined` on "My Dub.sh Links" page"
## Problem
Just noticed that when I hover over the stats button the link has `undefined` in it.

![image](https://user-images.githubusercontent.com/51731966/197410220-5679f87c-4991-48e1-84fa-b8b1e6e24d3e.png)

## Cause

In [this code](https://github.com/steven-tey/dub/blob/73c74617f5bd8efdfdf687eb8e77021cdb4f3b6f/components/app/links/link-card.tsx#L115), the `href` has `slug` in it which is only a

[2022-10-23 18:55] max-programming commented on #84
Just noticed that there is a stats page for normal links. If we go to `https://dub.sh/stats/[linkslug]`, it works.

I'll fix this issue

[2022-10-24 13:58] max-programming opened #86 "Copy button in QR Code"
It would be nice if there is a **copy button** in the QR Code modal with the download buttons
![image](https://user-images.githubusercontent.com/51731966/197543547-7f71b3ba-d42e-4753-b333-bd8484cb88f2.png)

[2022-10-25 05:51] TomBener opened #89 "Curl Support"
It is very convenient to use [TinyURL](https://tinyurl.com) via [Curl](https://curl.se) on the command line:

[code]

And it would be great if dub has the similar feature! And here are more [examples](https://github.com/chubin/awesome-console-services#URL-Shortener).

[2022-10-30 01:23] steven-tey commented on #84
Oh yes, sorry about this! It was fixed a couple of days ago – thank you for the heads-up anyways! 🙏

[2022-10-30 01:23] #84 closed

[2022-10-30 01:28] #34 closed

[2022-10-30 01:30] steven-tey commented on #73
@khaosdoctor sounds good! We'd wanna leverage some of `next-auth`'s existing features to handle API authentication as well (preferably using a `Authorization: Bearer xxxxx` header.

I'm also planning to add a docs page too to document the API!

[2022-10-30 01:31] steven-tey commented on #89
Related to #73, thanks for the feature request! I'm planning to work on an API for Dub (will probably need user signup + an Authorization header though to prevent spam). Will keep you posted on this!

[2022-11-01 00:13] steven-tey opened #97 "[FEATURE] Export data to CSV"
Ability to export all analytics from the links in a specific project in CSV format would be nice for preparing reports or sharing data with other team members.

[2022-11-02 12:21] BirbEXE commented on #12
bump 😜

[2022-11-04 09:01] ps-89 opened #99 "`ERR_INVALID_URL` error when running yarn run build locally. I've setup the .env file with all the values correctly"
[code]

[2022-11-04 09:03] ps-89 commented on #99
Also just wanted to ask if there's any discord community or any other comms platform that dub.sh uses that we can use for questions about architecture and set up(self hosting)?

[2022-11-04 10:59] ps-89 commented on #99
Was able to fix the above error by providing the value of `NEXT_AUTH_URL`, even though it's mentioned in their code(next-auth's codebase) that it picks localhost:3000 as default value, this env variable has to be there.

[code]

I'm getting a new error now:

[code]

[2022-11-04 11:01] ps-89 commented on #99
Was able to fix the above error by providing the value of `NEXT_AUTH_URL`, even though it's mentioned in their code(next-auth's codebase) that it picks localhost:3000 as default value, this env variable has to be there.

[code]

I'm getting a new error now:

[code]

[2022-11-04 11:15] IzMichael commented on #25
Is this still in the cards, or not a high priority atm?

[2022-11-04 11:39] ps-89 commented on #25
I can help with the docker setup, I've started with a self hosted setup on vercel. Have been able to sort out all issues. Just that how do I set the `app.DOMAIN.vercel.app` to point to dub.sh?

@steven-tey any idea on this?

[2022-11-04 15:46] jbtheard opened #100 "[feature suggestion] ability to filter by one of the link params"
As a marketer, I may need to build multiple links for the same target.

Would be good to be able to quickly identify all links targeting the same url (and get analytics on this group).

Same applies for a specific campaign or possibly one of the other fields available.

[2022-11-04 15:47] jbtheard opened #101 "[feature suggestion] tags"
I'd love to be able to add tags to each link so that I could either filter via tags, and even get analytics at tag level.

[2022-11-04 15:50] jbtheard opened #102 "[feature suggestion] wizard to create multiple links targeting same url"
as a marketer, I sometimes want to generate multiple links for a campaign targeting a single page, but across different platform.

Instead of having to use the new link form n times I'd rather select my platforms in a multi select and fill the target url in a second step. That would in turn create n links.

[2022-11-04 19:16] max-programming opened #103 "Question: Can I use custom domain with existing website?"
I was exploring the custom domain part. Can I use it with [my domain name](https://usmans.me) which is already in use for my personal site?

Then whenever someone visits `usmans.me/[slug]` they get redirected.

[2022-11-04 19:18] steven-tey commented on #103
You can't use it with an existing site since it'll result in a domain conflict, but you can use it with a subdomain (e.g. `l.usmans.me` or `link.usmans.me`) 😄

[2022-11-04 19:19] max-programming commented on #103
That's good! Thanks for the answer 😃

[2022-11-04 19:19] #103 closed

[2022-11-04 19:20] steven-tey commented on #101
Was just discussing this in this PR: https://github.com/steven-tey/dub/pull/94#issuecomment-1302892552

Will definitely be cool to get analytics at tag level too! Thanks for the suggestion!

[2022-11-05 06:42] dillfrescott opened #104 "Error during Vercel setup of Dub"
[code]

[2022-11-06 01:57] steven-tey commented on #104
This is probably because the `user` table is not instantiated in the MySQL database. I still need to write up the guide for this but in the meantime can you follow what I wrote here for a similar project on how to set up Prisma + Planetscale: https://vercel.com/guides/nextjs-multi-tenant-application

[2022-11-06 02:00] steven-tey commented on #25
@IzMichael yes it's definitely still in the cards, apologies for the delay, I was busy with Next.js Conf + a few other updates for Dub the last couple of weeks. Will get to this as soon as I can!

@ps-89 we'll probably need to turn all instances of `dub.sh` into a modular `process.env.MAIN_DOMAIN`, which should be possible by doing a search and replace all inside VSCode!

[2022-11-06 02:12] dillfrescott commented on #104
Gotcha. Thank you! I will see what I can do!

[2022-11-06 10:47] ps-89 commented on #25
@steven-tey I can raise a PR for this if you want(will help other folks with self set up)

Also, any plans to have a community slack/discord?

[2022-11-06 20:11] steven-tey commented on #25
That would be amazing – I'm also trying to think of a way to modularize away all the unnecessary stuff (e.g. landing page, Stripe integration), if y'all have any ideas I'm all ears! One way to do this is with [Next.js 13's route groups](https://beta.nextjs.org/docs/routing/defining-routes#route-groups) 👀

As for community Slack/Discord, I'm thinking of trying out [Threads](http://threads.com/) ins

[2022-11-07 08:41] IzMichael opened #107 "Sign up isn't sending an email"
Hiya, apologies if this isn't the right place for this.

I'm trying to sign up on the [app.dub.sh/register](https://app.dub.sh/register) page, but I'm not receiving an email despite seeing the "Email sent" message.
![image](https://user-images.githubusercontent.com/57115702/200264211-c836e217-5a04-4400-8dbd-62389fc59882.png)

I've tried to sign up with two different emails, one `@outlook.com` and

[2022-11-07 10:27] ps-89 commented on #107
@IzMichael For a custom domain, it's working for me.

[2022-11-07 10:30] ps-89 commented on #25
@steven-tey Sure will raise a couple of PRs to start fixing a few things. I make a fork and made it run on vercel but that required quite a few tweaks here and there. Will raise a PR to merge it into this repo.

We can try threads or slack or discord, whatever folks have a low barrier to entry and less context switch in using. Also, whichever is free and/or cheap. Primary reason is to ideate over

[2022-11-07 20:58] IzMichael commented on #107
Huh, odd. I've tried again today, but it's still not working...

[2022-11-07 21:51] steven-tey commented on #107
hey @IzMichael, apologies for that! I just checked our Postmark logs and looks like your email provider marked `dub.sh` as spam 😕 can you maybe try checking your spam folder?

[2022-11-07 22:13] steven-tey commented on #25
@ps-89 here you go: https://dub.sh/slack

It's by no means polished yet but feel free to join! :)

[2022-11-07 22:30] IzMichael commented on #107
I've just tried again, after fully disabling my spam filter and I've whitelisted `*@dub.sh`, and I'm still not receiving any emails.

[2022-11-08 00:45] IzMichael commented on #107
Fixed on the Slack; was an issue with my email provider.

[2022-11-08 00:45] #107 closed

[2022-11-08 01:23] Muzzthecoder opened #108 "My all links got wiped out after sometime"
Hi there! I have been using Dub for over a month now and for some reason all my links got wiped out the other day. They redirected to the [homepage](https://dub.sh)

For example this link https://dub.sh/QAmwGY5 doesn't work anymore.

[2022-11-08 01:24] Muzzthecoder commented on #108
My email I used to log in is muzzthecoder@gmail.com

[2022-11-08 04:24] ps-89 commented on #25
@steven-tey I guess it needs elegance.co email.

[code]

I've DMed you my email for slack on your twitter.

[2022-11-08 04:28] steven-tey commented on #25
@ps-89 Oh weird, sorry about that! I just updated the link – can you try again?=

[2022-11-08 05:58] ps-89 commented on #99
Closing this as I had resolved this. Happy to help out others, feel free to tag me in this thread.

[2022-11-08 05:58] #99 closed

[2022-11-08 17:15] Snazzah opened #110 "Track languages with Accept-Language header"
Not too sure if this is an idea worth exploring, but services like Rebrandly have a field for languages, probably from parsing the `Accept-Language` header. Would this be a good idea to include in link stats?

![](https://get.snaz.in/7gUT1Ke.png)

[2022-11-10 01:11] steven-tey commented on #108
That's odd! I was [removing some phishing links](https://twitter.com/steventey/status/1589329847091748864) the other day and it might've affected your links somehow. What's the link that you were redirecting to? Also were these public links (those get auto-deleted after 15 mins)?

[2022-11-10 03:48] steven-tey commented on #110
Ooooh that's a great idea actually! Need to double check if the edge middleware includes an "Accept-Language" header though

[2022-11-10 04:56] #86 closed

[2022-11-10 04:56] steven-tey commented on #86
This feature has been implemented thanks to @max-programming's PR!! 🥳

[2022-11-10 18:51] mfts opened #112 "Add a character length warning to social custom previews `title` and `description` fields"
If you exceed the character length for the `description` field in the social custom previews, it currently throws an alert-style error.

Suggestions: add a character count with an upper limit (similar to Twitter)

<img width="389" alt="Screenshot 2022-11-10 at 19 48 26" src="https://user-images.githubusercontent.com/4049052/201180928-9f66e07e-fdc1-4b59-96d3-5b7c6886942a.png">

I'm happy to work on

[2022-11-11 04:34] Muzzthecoder commented on #108
Actually it was redirected to my latest article on Hashnode. https://muzzammil.hashnode.dev/setup-kali-linux-like-a-pro

[2022-11-11 04:40] max-programming commented on #108
@Muzzthecoder Did you add any links like these?
![image](https://user-images.githubusercontent.com/51731966/201264560-8ae2289c-55ac-4c0a-9370-3058479ce055.png)

[2022-11-11 05:05] Muzzthecoder commented on #108
Nope

[2022-11-11 13:30] max-programming opened #114 "Analytics Page not working"
For some reason, these analytics pages of mine do not work

1. https://app.dub.sh/links/steps-exp-ts
2. https://app.dub.sh/links/repo-exp-ts

![image](https://user-images.githubusercontent.com/51731966/201350353-37ed45cf-2d31-4f83-a285-ab862113d646.png)

[2022-11-11 13:32] max-programming commented on #114
`app.dub.sh/links/[slug]` does not show analytics.
But `dub.sh/stats/[slug]` does show properly

[2022-11-11 22:58] steven-tey commented on #114
This is due to a regression in Next.js 13: https://github.com/vercel/next.js/issues/42463

It should be fixed very soon but in the meantime, you can click on the link via https://app.dub.sh/links and it should work – just don't refresh it (refreshing the page breaks it somehow)

[2022-11-11 23:01] steven-tey commented on #108
Was it a public link? (did you add it via https://dub.sh) or did you add it from the app?

In any case, can you try re-adding the link with the same key? This seems to be an isolated incident so I'm going to go ahead and close this issue for now – sorry again for the inconvenience!

[2022-11-11 23:01] #108 closed

[2022-11-14 00:06] steven-tey commented on #114
Fixed this with a patched version of Next.js thanks to @ijjk – will upgrade to the canary version when it's published! :)

[2022-11-14 00:06] #114 closed

[2022-11-17 18:28] jbtheard commented on #102
And a lot of people already for such services :)

[2022-11-18 10:45] IzMichael opened #118 "Error when deploying with Vercel"
Hiya, I'm attempting to deploy my own instance with the provided 'Deploy with Vercel' button, but after entering my environment variables, it's just returning an error of `Invalid request: should be object.`.

I've followed the instructions from the `.env.example` and my Planetscale SQL tables are setup using the `prisma/schema.prisma`.
![image](https://user-images.githubusercontent.com/57115702/2

[2022-11-19 08:53] IzMichael commented on #118
I've just tried again (from scratch) and there's been no issue. Guess this was a fluke?

[2022-11-19 08:59] IzMichael commented on #118
Oops, I'm back with a different error now lol. It's having an issue installing the packages. I think it's failing with the node version that Vercel is using?

[code]

![image](https://user-images.githubusercontent.com/57115702/202843271-df1f4f81-3b76-4c86-9b62-8f0e0e191c0d.png)

[2022-11-19 09:05] IzMichael commented on #118
Update: I've found where to change my node version in vercel, but now it's failing to prerender something...

[code]

Any ideas?

[2022-11-21 11:53] PatelN123 commented on #118
I get this same issue.

[code]

[2022-11-21 17:34] steven-tey commented on #118
Ahh that's something to do with the [`getTweets` function](https://github.com/steven-tey/dub/blob/main/lib/twitter/get-tweet.ts) – feel free to get rid of that since that's not really needed for the link shortener.

I'm making a note to fix this bug in the code, thanks for reporting!

[2022-11-21 17:34] steven-tey commented on #118
@IzMichael @PatelN123 Ahh that's something to do with the [`getTweets` function](https://github.com/steven-tey/dub/blob/main/lib/twitter/get-tweet.ts) – feel free to get rid of that since that's not really needed for the link shortener.

I'm making a note to fix this bug in the code, thanks for reporting!

[2022-11-21 18:08] PatelN123 opened #119 "Magic Link not working"
Hi,

When I receive the magic link on my own self hosted version, it just redirects me back to the login screen. Please help, thank you.

@steven-tey

[2022-11-22 16:22] steven-tey commented on #102
Hey @jbtheard! This feature is now live: https://github.com/steven-tey/dub/pull/120 🥳

Feel free to try it out and let me know what you think!

[2022-11-22 16:22] #102 closed

[2022-11-22 20:45] jbtheard commented on #102
Seems to work like a charm; good UX and quick execution. Thank you!

[2022-11-23 03:19] IzMichael commented on #118
@morandalex A temp(?) fix would be to use node 16, instead of 18

[2022-11-23 15:30] DrummerB opened #123 "[Feature] Search links"
It would be nice to have a way to search/filter existing short links. After a while, I assume it would be difficult to find older links otherwise. Complicated filtering is probably not necessary, but a "basic" text search through the relevant fields (long link, short link, UPM fields etc) of links would be useful.

[2022-11-23 15:31] DrummerB opened #124 "[Feature] Set custom name or tags"
For better organizing and finding links, it would be nice to be able to set custom names, instead of just seeing the long and short links. E.g. Bitly reads the page title and uses that as the default name of the link, which can be changed later.

[2022-11-23 23:25] steven-tey commented on #123
Agreed, I'm planning to build that out soon – it's on the roadmap! :)

[2022-11-23 23:26] steven-tey commented on #124
Related to #101 – it's on the roadmap as well! I actually was using the title instead of the long URL at first but resorted to the long URL for clarity. I believe the tags feature should solve this!

[2022-11-26 06:18] skybird-dev opened #128 "Prisma fails"
I use mysql on rails app.

[22:13:02.160] [4/4] Building fresh packages...
[22:13:09.963] $ prisma generate || true
[22:13:11.500] Prisma schema loaded from prisma/schema.prisma
[22:13:12.969]
[22:13:12.970] ✔ Generated Prisma Client (4.6.1 | library) to ./shared/prisma-client in 276ms
[22:13:12.970] You can now start using Prisma Client in your code. Reference: https://pris.ly/d/client
[22:13:12.

[2022-11-27 05:18] theabhayprajapati commented on #119
same i am getting the same error with my code.

[2022-11-27 23:20] steven-tey opened #129 "Issue with @splinetool/react-spline"
Full issue here: https://github.com/splinetool/react-spline/issues/94

[2022-11-29 03:30] masteradit opened #132 "Error while deploying on Vercel"
Here are the build logs:
[code]

[2022-11-29 15:35] steven-tey commented on #132
It's something to do with the [static tweets render](https://github.com/steven-tey/dub/blob/main/lib/twitter/get-tweet.ts) – you can get rid of that since you won't be needing that for the link shortener

[2022-11-29 15:35] #132 closed

[2022-11-29 15:36] #118 closed

[2022-11-29 15:38] JeroenReumkens opened #133 "Hashes are stripped from url before sharing"
Hi there!

I noticed that hashes are stripped from the url when sharing. I can imagine why you might do this, only downside is this prevents me from sharing TypeScript Playground links like this one: https://www.typescriptlang.org/play?#code/BIUwNmD2AEAmCuAjIA

The TypeScript playground encodes the content of the playground in the hash. And since they can get quite long, for me it feels like a gre

[2022-11-29 15:38] steven-tey commented on #133
Will take a look at this, thanks for reporting!

[2022-11-30 23:52] steven-tey commented on #129
Resolved: https://github.com/splinetool/react-spline/issues/94#issuecomment-1329297162

[2022-11-30 23:52] #129 closed